

<!--URI: /hamilton/--><!--Project slug: hamilton--><!--Environment: --><!--Premium: --><!--Deployed slug: hamilton-->

<!-- VERSION c87647c -->
<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html lang="en" class="no-js ie6">
<![endif]-->
<!--[if IE 7 ]>
<html lang="en" class="no-js ie7">
<![endif]-->
<!--[if IE 8 ]>
<html lang="en" class="no-js ie8">
<![endif]-->
<!--[if IE 9 ]>
<html lang="en" class="no-js ie9">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
		<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

	<script type="text/javascript">var adSection = "interactive_usnews";</script>
	<title>How does ‘Hamilton,’ the non stop, hip-hop Broadway sensation tap rap’s master rhymes to blur musical lines? - WSJ.com</title>
	<link rel="shortcut icon" href="http://si.wsj.net/favicon.ico"/>
	<link rel="apple-touch-icon" href="http://s.wsj.net/apple-touch-icon.png"/>

	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="format-detection" content="telephone=no">

	<!-- Meta: URL -->
	<link rel="canonical" href="http://graphics.wsj.com/hamilton/"/>
	<meta property="og:url" content="http://graphics.wsj.com/hamilton/"/>

	<!-- Meta: Images -->
	<link rel="image_src" href="http://si.wsj.net/public/resources/images/OG-AH408_HAMILT_G_20160603194236.jpg"/>
	<meta property="og:image" content="http://si.wsj.net/public/resources/images/OG-AH408_HAMILT_G_20160603194236.jpg"/>
	<meta name="twitter:image:src" content="http://si.wsj.net/public/resources/images/OG-AH408_HAMILT_G_20160603194236.jpg">

	<!-- Meta: Title -->
	<meta name="title" content='How does ‘Hamilton,’ the non stop, hip-hop Broadway sensation tap rap’s master rhymes to blur musical lines?'/>
	<meta property="og:title" content='How does ‘Hamilton,’ the non stop, hip-hop Broadway sensation tap rap’s master rhymes to blur musical lines?'/>
	<meta name="twitter:title" content='How does ‘Hamilton,’ the non stop, hip-hop Broadway sensation tap rap’s master rhymes to blur musical lines?'>

	<!-- Meta: Description -->
	<meta name="description" content="How does 'Hamilton,' the non-stop, hip-hop Broadway craze use complex rhymes to blur musical lines?"/>
	<meta name="twitter:description" content="How does 'Hamilton,' the non-stop, hip-hop Broadway craze use complex rhymes to blur musical lines?">
	<meta property="og:description" content="How does 'Hamilton,' the non-stop, hip-hop Broadway craze use complex rhymes to blur musical lines?" />

	<!-- Meta: Keywords -->
	<meta name="keywords" content="Hamilton, musical, Broadway, Tony Awards, Lin-Manuel Miranda, Daveed Diggs, rap"/>
	<meta name="news_keywords" content="Hamilton, musical, Broadway, Tony Awards, Lin-Manuel Miranda, Daveed Diggs, rap">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="author" content="WSJ.com News Graphics"/>
	<meta name="twitter:domain" content="WSJ.com">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@wsj">
	<meta property="og:site_name" content="WSJ"/>
	<meta property="og:type" content="article"/>
	<meta property="fb:app_id" content="368513495882"/>
	<meta property="article:publisher" content="https://www.facebook.com/wsj"/>

	<script type="text/javascript" src="http://online.wsj.com/public/resources/documents/WSJ_Interactive_TrackingAndAdsv6.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js"></script>

	<!-- H&Co Gziped Fonts -->
	<link rel="stylesheet" type="text/css" href="http://fonts.wsj.net/fonts/wsj-fonts.css"/>

	<link rel="stylesheet" href="http://graphics.wsj.com/libs/css/bootstrap/3.3.2/bootstrap.min.css">
	<link rel="stylesheet" href="http://graphics.wsj.com/libs/css/wsj/jquery.socialriser/1.6.0/jquery.socialriser.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="js/ejdict.js?v=1"></script>
    <script src="http://graphics.wsj.com/hamilton/js/jsnetworkx.js"></script>
    <script src="http://graphics.wsj.com/hamilton/js/phodist.js"></script>
    <script src="http://graphics.wsj.com/hamilton/js/bundle.js"></script>

  <!-- Swiper CSS -->
  <!-- <link rel="stylesheet" href="http://graphics.wsj.com/hamilton/css/swiper.min.css"> -->

    <script type='text/javascript'>
	    var googletag = googletag || {};
			googletag.cmd = googletag.cmd || [];
			(function() {
				var gads = document.createElement('script');
				gads.async = true;
				gads.type = 'text/javascript';
				var useSSL = 'https:' == document.location.protocol;
				gads.src = (useSSL ? 'https:' : 'http:') +
				'//www.googletagservices.com/tag/js/gpt.js';
				var node = document.getElementsByTagName('script')[0];
				node.parentNode.insertBefore(gads, node);
			})();
	</script>

    <script type='text/javascript'>
      googletag.cmd.push(function() {
        var mapping = googletag.sizeMapping()
          .addSize([992,400],[[970,66],[970,90]])
          .addSize([768,400],[728,90])
          .addSize([0,0],[]).build();
        window.slot1 = googletag.defineSlot('/2/interactive.wsj.com/interactive_usnews', [
            [1260, 120],
            [970, 66],
            [970, 90],
            [970, 250],
            [728, 90]
        ], 'div-gpt-ad-1463153516922-0')
          .defineSizeMapping(mapping)
          .addService(googletag.pubads());
        var mobileMapping = googletag.sizeMapping()
          .addSize([0, 0], [])
          .addSize([320, 400], [300, 250])
          .addSize([768,400],[])
          .addSize([1050, 200], [])
        .build();
        window.slot2 = googletag.defineSlot('/2/interactive.wsj.com/interactive_usnews', [
            [300, 250]
        ], 'div-gpt-ad-1463153516922-1')
          .defineSizeMapping(mobileMapping)
          .addService(googletag.pubads());

        googletag.pubads().enableSingleRequest();
        googletag.enableServices();
      });

    </script>

  <link rel="stylesheet" href="http://graphics.wsj.com/hamilton/css/app-047fc0ab.css"/>
  <style>
    html,body{position:relative;height:100%;}
    .swiper-container{width:100%;height:100%;}
  </style>

<script type="application/ld+json">
           {
             "@context": "http://schema.org",
             "@type": "NewsArticle",
             "headline": "We Wrote an Algorithm to Unravel the Rhymes of Hit Musical ‘Hamilton’",
             "url": "http://graphics.wsj.com/hamilton/",
             "thumbnailUrl": "http://si.wsj.net/public/resources/images/OG-AH409_Hamilt_G_20160603194511.gif",
             "dateCreated": "2016-06-06T07:30:00Z",
             "articleSection": "Interactives",
             "creator": ["Joel Eastwood", "Erik Hinton"],
             "keywords": ["Hamilton", "musical", "Broadway", "Tony Awards", "Lin-Manuel Miranda", "Daveed Diggs", "rap"]
           }
</script>

</head>

<body class="template-standalone ">

<!-- Slide 10 -->
  <div class="swiper-slide">
    <div class="swiper-content-wrapper">
      <div class="swiper-content">
          <div class="col-md-12 lede userviz">
            <div class="splitter bug">Make Your Own</div>
           <p> Now it's your turn. Paste in English lyrics, poetry or text and our algorithm will try to highlight similar-sounding syllables to reveal rhymes and repetitions.</p>
                <div id="entry" class="row custom-input">

                  <div class="col-xs-12 col-sm-6 pull-left pillbuttons">
                    <span class="button" onclick="RAP.nicki(tune)">Nicki Minaj</span>
                    <span class="button" onclick="RAP.biggie(tune)">Biggie</span>
                    <span class="button" onclick="RAP.lauryn(tune)">Lauryn Hill</span>
                    <span class="button" onclick="RAP.pun(tune)">Big Pun</span>
                    <span class="button" onclick="RAP.kim(tune)">Lil' Kim</span>
                    <span class="button" onclick="RAP.raekwon(tune)">Raekwon</span>
                    <span class="button" onclick="RAP.salt(tune)">Salt-N-Pepa</span>
                    <span class="button" onclick="RAP.jay(tune)">Jay-Z</span>
                    <span class="button" onclick="RAP.jewels(tune)">Run the Jewels</span>
                    <span class="button" onclick="RAP.tribe(tune)">A Tribe Called Quest</span>
                    <span class="button" onclick="RAP.bey(tune)">Beyoncé</span>
                    <span class="button" onclick="RAP.chance(tune)">Chance the Rapper</span>
                  </div>
            <div class="col-xs-12 col-sm-6 pull-right leftborder">
                      <textarea id="lyrics"  rows="8" maxlength="512" style="width: 100%">Choose a verse at left or paste in your own lyrics</textarea>
            <div class="row">
              <div class="slider-row">

                     <div class="col-xs-2 squish">loose</div>
                     <div class="col-xs-8 squish" id="slider"><input type="range" min="1.5" max="5" value="2" id="fader" step="0.5"></div>
                     <div class="col-xs-2 squish">strict</div>
                     <div class="col-xs-12 squish">
                                      <span id="submitpillbutton" class="button inactive" onclick="RAP.analyze(tune)">Analyze</span>
                     </div>
                 </div>
                 </div>
         </div>
        <div id="userviz"></div>

    </div>
    <div class="inactive loadloadloading loading" id="loadloadloading"><div class="loading-circle"></div></div>
    <div id="words"></div>
    <div id="bars"></div>
    <script id="text-viz" type="text/jst">
        <% _.each(sentences,function(sentence){ %>
            <div>
            <% _.each(sentence,function(word,wi){ %>
                <span>
                  <% _.each(word[1],function(syl,si){ %><span data-label="<%= word[0][si].label() %>" data-sounds="<%= word[0][si].sounds.join('-') %>" data-color="<%= word[0][si].color %>" style="background-color:<%= colors[word[0][si].color] %>;"><%= syl %></span><% }); %>
                </span>
            <% }); %>
            </div>
        <% }); %>
    </script>

    <script id="bar-viz" type="text/jst">
<% _.each(groups,function(g,i){ %><div style="height:<%= dim %>px"><% _.each(syls,function(syl){ %><span class="block" style="background-color:<%= syl.color == g || syl.color == '*' ? colors[syl.color] : '#eee' %>;width:<%= dim %>px;height:<%= dim %>px;"></span><% }); %></div><% }); %>
    </script>
    <script src="js/hamiltunes.js?v=3"></script>

          </div>
          <div class="clearfix"></div>
          <div class="tunes" id="tunes-userviz"></div>

          <div class="tunes" id="tunes-userviz-error" class="hidden">
            <p>We couldn't find a rhyme, try it one more time.</p>
          </div>
          <div class="clearfix"></div>
          <div class="clearfix"></div>
          <div class="text-container centered-container footnote">
                <p class="smallbodytext">Note: The tool may have trouble with unusual pronunciations, misspellings or proper nouns. Rhyme is highly subjective, and ultimately lies in the eye (or ear) of the beholder. The sound lines of the visualization are arranged dynamically by the algorithm to create the longest consecutive string of rhymes. The lines are not in a fixed vertical order, and may change on successive analyses. <br><a href="http://graphics.wsj.com/hamilton-methodology">Read the full methodology »</a></p>
                <div class="social-links"></div>
            </div>
        </div>
      </div>
  </div>

</body>
</html>
